<h1>Commits inside repository</h1>
  <table>
    <tr>
      <th>commit id<th>
      <th>sha</th>
      <th>author id</th>
      <th>comment</th>
      <th>created at</th>
      <th>updates at</th>
    </tr>
    <% @commit_list.each do |list| %>
      <tr>
        <td><%= list.id %></td>
        <td><%= list.sha %></td>
        <td><%= list.author_id %></td>
        <td><%= list.comment %></td>
        <td><%= list.created_at %></td>
        <td><%= list.updated_at%></td>
      </tr>
    <% end %>
  </table>
<%= link_to 'Back', repositories_path %>
