<p id="notice"><%= notice %></p>
<p>
  <b>T.references:</b>
  <%= @author_repository.t.references %>
</p>

<p>
  <b>T.references:</b>
  <%= @author_repository.t.references %>
</p>


<%= link_to 'Edit', edit_author_repository_path(@author_repository) %> |
<%= link_to 'Back', author_repositories_path %>
